<h1 class="my-4">Free Stuff!</h1>

<table class="table">

  <thead class="table-primary">
    <tr>
      <th>Listing</th>
      <th>Still Available?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.name, listing_path(listing) %></td>
        <td>
          <% if listing.available %>
            <span class="text-success">✓ Yes!</span>
          <% else %>
            <span class="text-danger">✕ No</span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Destroy', listing, method: :delete, class: 'btn btn-outline-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<p>
  <%= link_to 'New Listing', new_listing_path, class: 'btn btn-primary' %>
</p>
